<table cellpadding="9" cellspacing="0">
<tr valign="top">
    <td align="right">
        <?php print_string('perpageonfulllist', 'block_programming_judge_status'); ?>
    </td>
    <td>
        <input type="text" name="perpageonfulllist" value="<?php echo $this->config->perpageonfulllist; ?>"/>
    </td>
</tr>
<tr>
    <td colspan="2" align="center">
        <input type="submit" value="<?php print_string('savechanges') ?>" />
    </td>
</tr>
</table>
